
.page{
    background-color: white;
}

.pageWall{
    display: block;
}

.pageChannel{
    display: none;
}

#addChannel{
    height: 60px;
    width: 60px;
    line-height: 0;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}