
body {
    padding-top: 4.5rem; /* -> per la navbar che ha position fixed */
}

.page{
    background-color: white;
    padding-top: 15px;
}

.pageWall{
    display: block;
}

.pageChannel{
    display: none;
}

.pageProfile{
    display: none;
}

#addChannel{
    height: 60px;
    width: 60px;
    line-height: 0;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#pageTitle {
    font-size: 1.5em;
    vertical-align: middle;
}

#backBtn {
    display: none;
    width: 2.0em;
    margin: 0 10px;
}

.pointMenu:after {
    content: '\2807';
    font-size: 2.0em;
    }

.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: black; 
    /* background: #833ab4; 
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); */
}

.image_inner_container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.userPicture{
    width: 50px;
    height: 50px;
}

.postImage{
    max-width: 300px;
    display: block;
    
}

.picture{
    padding-top: 10px;
}

#inputMessage {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.wrapText {
    word-wrap: break-word;
}