
body {
    padding-top: 4.5rem; /* -> per la navbar che ha position fixed */
}

.page{
    background-color: white;
    padding-top: 15px;
}

.pageWall{
    display: block;
}

.pageChannel{
    display: none;
}

.pageProfile{
    display: none;
}

.invalidInput{
    border: 1px solid red;
}

.wallElement {
    font-size: 1.7em;
    font-weight: 300;
    padding: 8px 0;
    border-top: 1px solid rgb(194, 194, 194);
}

.wall :first-child {
    border-top: 0;
}

#addChannel{
    height: 60px;
    width: 60px;
    line-height: 0;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#pageTitle {
    font-size: 1.5em;
    vertical-align: middle;
}

#backBtn {
    display: none;
    width: 2.0em;
    margin: 0 10px;
}

.pointMenu:after {
    content: '\2807';
    font-size: 2.0em;
    color: #FFFFFF;
}

.image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    /* border-radius: 50%; */
    position: relative;
    padding: 20px;
}

.image_inner_container{
    /* border-radius: 50%; */
    padding: 5px;
    /* background: black; */
}

.image_inner_container img{
    height: 200px;
    width: 200px;
    /* border-radius: 50%;
    border: 5px solid white; */
}

.userPicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.postImage{
    max-width: 300px;
    display: block;
    
}

#inputMessage {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.btn-channel{
    background-color: #15737A !important;
    border-color: #15737A !important;
    border-radius: 50%;
}
/* .btn-addChannel{
    background-color: #B9F3B9 !important;
    border-color: #85EA85 !important;
} */

.bg-light{
    background-color: #15737A !important;
}

.navbar-light .navbar-brand {
    color: #FFFFFF !important;
}

.messageBackground{
    background-color: #B2CEDE;
    /* border-radius: 5%; */
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 20px;
}

.input-channel{
    background-color: #15737A !important;
    color: #FFFFFF !important;
    border-radius: 10px;
}

.channelClick{
    padding-left: 10px;
}

.btn-imgProfile{
    border-radius: 10px;
    background-color: #15737A !important;
    border-color: #15737A !important;
}

.nameProfile{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5 !important;
}

.wrapText {
    word-wrap: break-word;
}

#map {
    display: none;
    width: calc(100% - 2rem);
    height: calc(100% - 6.5rem);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
}

#map > .btn {
    position: absolute;
    top:0;
    right:0;
    z-index: 4000;
}